<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Specify the location of your Spring configuration class -->
	<context:annotation-config />
	<context:component-scan
		base-package="couche_DAO" />


	<bean id="DAO" class="couche_DAO.DAO_Impl" />

	<bean id="Metier" class="couche_metier.Implmetier">
		<property name="Dao" ref="DAO" />
	</bean>


</beans>
